node_modules
.env.local
.env.development.local
.env.test.local
.DS_Store
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lercache
.pnp.js
.pnp.cjs    
.vscode/
.idea/
dist/
build/
coverage/
logs/
*.log
npm/
*.tsbuildinfo
.cache/
.next/
out/    
*.pem
*.key
*.crt
*.p12
*.bak
*.old
*.orig
*.rej
*.swp
*~
.sass-cache/
.cache/
*.class
*.war
*.jar
*.iml
*.suo
*.ntvs*